* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.header {
  padding: 50px 0;
}

.list {
  display: flex;
  justify-content: center;
}

.list__item:not(:last-child) {
  margin-right: 10px;
}

.logotype {
  display: block;
  margin: 0 auto;
  width: max-content;
}

.mb70 {
  margin-bottom: 70px;
}

.mb100 {
  margin-bottom: 100px;
}

.title {
  text-align: center;
}

.description {
  text-align: center;
}

.link {
  display: block;
  margin: 0 auto;
  width: max-content;
}

/* POPULAR */
.popular {
  padding-top: 144px;
  padding-bottom: 80px;
}

.popular__title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-align: center;
}

.popular__list-item {
  text-align: center;
}

.popular__img {
  margin: 0 auto;
}

.popular__rating {
  display: flex;
  justify-content: center;
}

.popular__rating-star {
  display: block;
}

.popular__rating-star:not(:last-child) {
  margin-right: 4px;
}

.popular__rating-star::before {
  display: block;
  /* width: 9px;
  height: 9px; */
  content: url("../images/star.png");
}

.popular__img-title {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #888888;
}

.popular__price {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
}

.mb20 {
  margin-bottom: 20px;
}

/* FOOTER */
.footer {
  padding: 80px 0;
  background-image: linear-gradient( 0deg, rgb(233,225,216) 0%, rgb(247,242,235) 48%, rgb(228,218,207) 99%);
}

.footer__titles {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 45px;
  text-transform: uppercase;
  text-align: center;
}

.footer__item-link {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #888888;
  text-align: center;
}

.mb16 {
  margin-bottom: 16px;
}

.footer__app-link-wrapper {
  border-bottom: 1px solid rgb(214, 216, 217);
  padding-bottom: 30px;
}

.footer__titles_app-title {
  margin-bottom: 26px;
}

.app-list {
  display: flex;
  justify-content: center;
}

.footer__app-link {
  display: block;
  width: 130px;
  height: 49px;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  color: #000;
  padding: 14px 0 14px 38px;
  background-repeat: no-repeat;
  background-position: left 12px top 17px;
}

.footer__app-link-br {
  display: block;
  font-size: 10px;
  font-weight: 400;
}

.footer__app-link_gp {
  background-color: #fff;
  background-image: url("../images/footer/google-play.png");
}

.footer__app-link_as {
  background-color: rgb(255, 83, 83);
  color: #fff;
  background-image: url("../images/footer/app-store.png");
}

.footer__social-wrapper {
  padding-top: 16px;
}

.footer__titles_social-title {
  margin-bottom: 10px;
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-list__item-link {
  display: block;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center bottom 7px;
}

.socials-list__item-link_facebook {
  background-image: url("../images/footer/facebook.png");
}

.socials-list__item-link_twitter {
  background-image: url("../images/footer/twitter.png");
}

.socials-list__item-link_pinterest {
  background-image: url("../images/footer/pinterest.png");
}

.socials-list__item-link_instagram {
  background-image: url("../images/footer/instagram.png");
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .list {
    justify-content: flex-end;
  }

  .logotype {
    margin: 0;
  }

  .pd-md-40 {
    padding: 0 40px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .popular__title {
    font-size: 36px;
  }

  /* FOOTER */
  .footer__titles {
    text-align: left;
  }

  .footer__item-link {
    text-align: left;
  }

  .socials-list {
    justify-content: flex-start;
  }
}
