/* ubuntu-regular - cyrillic_latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"),
    url("../fonts/ubuntu-v14-cyrillic_latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/ubuntu-v14-cyrillic_latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 280px;
  margin: 0 auto;
}

.children {
  padding-top: 34px;
  padding-bottom: 26px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.children__content {
  margin-bottom: 42px;
}

.children__content-text-wrapper::before {
  display: block;
  content: "";
  width: 17px;
  height: 13px;
  background-image: url("../images/quotes.png");
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}

.childre__content-text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
}

.childre__content-text:not(:last-child) {
  margin-bottom: 20px;
}

.children__plashka {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.9px;
  background-color: rgb(117, 80, 222);
  color: #fff;
  border-radius: 8px;
  padding: 25px 26px 28px 26px;
  text-align: center;
}

.children__plashka::before {
  display: block;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgb(233, 172, 56);
  margin: 0 auto;
}

@media (max-width: 1319px) {
  .children__content-text-wrapper {
    margin-bottom: 26px;
  }
}

@media (max-width: 767px) {
  .children__plashka::before {
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .children {
    padding-top: 40px;
    padding-bottom: 34px;
  }

  .container {
    width: 620px;
  }

  .childre__content-text {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.9px;
  }

  .children__content-text-wrapper::before {
    background-image: url("../images/quotes-md.png");
    width: 26px;
    height: 20px;
    transform: translateX(-34px);
    margin-bottom: 2px;
  }

  .childre__content-text:not(:last-child) {
    margin-bottom: 22px;
  }

  .children__plashka {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: left;
    padding: 38px 108px 40px 76px;
    position: relative;
    box-shadow: 3px 5.196px 18px 0px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
  }

  .children__plashka::before {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 2px;
    transform: translateY(-50%) rotate(90deg);
  }
}

@media (min-width: 1320px) {
  .container {
    width: 1300px;
  }

  .children {
    padding-top: 116px;
    padding-bottom: 60px;
  }

  .children__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .children__content-text-wrapper {
    width: 504px;
  }

  .childre__content-text {
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 1px;
  }

  .children__content-text-wrapper::before {
    transform: translateX(-42px);
    margin-bottom: 0;
  }

  .children__plashka {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 1.25px;
    padding: 70px 256px 70px 228px;
  }

  .children__plashka::before {
    width: 88px;
    left: 158px;
  }

  .children__plashka-br {
    display: block;
  }
}
