* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.container {
  width: 900px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

/* body {
  background-color: brown;
} */

/* ========== MIN-WIDTH MAX-WIDTH ========== */
/* Когда ширина вьюпорта будет 500px и больше, применить соответствующие правила */
/* @media (min-width: 500px) {
  body {
    background-color: aqua;
  }
}

@media (min-width: 768px) {
  body {
    background-color: black;
  }
} */

/* Пока ширина вьюпорта меньше 500px, применять соответствующие правила */
/* @media (max-width: 767px) {
  body {
    background-color: cornflowerblue;
  }
}

@media (max-width: 499px) {
  body {
    background-color: chartreuse;
  }
} */

/* @media (width: 700px) {
  body {
    background-color: darkblue;
  }
} */

/* ========== AND ========== */
/* @media (min-width: 768px) and (max-width: 959px) {
  body {
    background-color: darkgreen;
  }
} */
/* ========== OR ========== */
/* @media (max-width: 767px), (min-width: 960px) {
  body {
    background-color: darkorchid;
  }
} */
/* ========== TYPES ========== */

/* ========== ORIENTATION ========== */
/* @media (orientation: landscape) {
  body {
    background-color: deeppink;
  }
}

@media (orientation: portrait) {
} */

.container {
  width: 280px;
}

.list {
  padding: 50px 0;
}

@media (max-width: 767px) {
  .list__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 680px;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 768px) and (max-width: 1219px) {
  /* 
  -0 + 2 = 2;
  -1 + 2 = 1;
  -2 + 2 = 0;
  */

  .list__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 40px;
  }
}

@media (min-width: 1220px) {
  .container {
    width: 1200px;
  }
}
